{{>licenseInfo}}
package {{package}};

import {{invokerPackage}}.ApiClient;
import {{invokerPackage}}.ApiException;
import {{invokerPackage}}.ApiResponse;
import {{invokerPackage}}.Pair;

{{#imports}}
    import {{import}};
{{/imports}}

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import io.github.resilience4j.core.IntervalFunction;
import io.github.resilience4j.retry.Retry;
import io.github.resilience4j.retry.RetryConfig;

import java.io.IOException;
import java.io.InputStream;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;
import java.util.function.Consumer;
import java.util.function.Supplier;

{{^fullJavaUtil}}
    import java.util.ArrayList;
    import java.util.StringJoiner;
    import java.util.List;
    import java.util.Map;
    import java.util.Set;
{{/fullJavaUtil}}
{{#asyncNative}}

    import java.util.concurrent.CompletableFuture;
{{/asyncNative}}

{{>generatedAnnotation}}
{{#operations}}
    public class {{classname}} {
    private final HttpClient memberVarHttpClient;
    private final ObjectMapper memberVarObjectMapper;
    private final String memberVarBaseUri;
    private final Consumer<HttpRequest.Builder> memberVarInterceptor;
        private final Duration memberVarReadTimeout;
        private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
        private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

        public {{classname}}() {
        this(new ApiClient());
        }

        public {{classname}}(ApiClient apiClient) {
        memberVarHttpClient = apiClient.getHttpClient();
        memberVarObjectMapper = apiClient.getObjectMapper();
        memberVarBaseUri = apiClient.getBaseUri();
        memberVarInterceptor = apiClient.getRequestInterceptor();
        memberVarReadTimeout = apiClient.getReadTimeout();
        memberVarResponseInterceptor = apiClient.getResponseInterceptor();
        memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
        }
    {{#asyncNative}}

            private ApiException getApiException(String operationId, HttpResponse<String> response) {
            String message = formatExceptionMessage(operationId, response.statusCode(), response.body());
            return new ApiException(response.statusCode(), message, response.headers(), response.body());
            }
    {{/asyncNative}}
    {{^asyncNative}}

            protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
            String body = response.body() == null ? null : new String(response.body().readAllBytes());
            String message = formatExceptionMessage(operationId, response.statusCode(), body);
            return new ApiException(response.statusCode(), message, response.headers(), body);
            }
    {{/asyncNative}}

        private String formatExceptionMessage(String operationId, int statusCode, String body) {
        if (body == null || body.isEmpty()) {
        body = "[no body]";
        }
        return operationId + " call failed with: " + statusCode + " - " + body;
        }

    {{#operation}}
        {{#vendorExtensions.x-group-parameters}}
            {{#hasParams}}
                    /**
                    * {{summary}}
                    * {{notes}}
                    * @param apiRequest {@link API{{operationId}}Request}
                {{#returnType}}
                        * @return {{#asyncNative}}CompletableFuture&lt;{{/asyncNative}}{{returnType}}{{#asyncNative}}&gt;{{/asyncNative}}
                {{/returnType}}
                    * @throws ApiException if fails to make API call
                {{#isDeprecated}}
                        * @deprecated
                {{/isDeprecated}}
                {{#externalDocs}}
                        * {{description}}
                        * @see <a href="{{url}}">{{summary}} Documentation</a>
                {{/externalDocs}}
                    */
                {{#isDeprecated}}
                        @Deprecated
                {{/isDeprecated}}
                    public {{#returnType}}{{#asyncNative}}CompletableFuture<{{{returnType}}}>{{/asyncNative}}{{^asyncNative}}{{{returnType}}}{{/asyncNative}}{{/returnType}}{{^returnType}}{{#asyncNative}}CompletableFuture<Void>{{/asyncNative}}{{^asyncNative}}void{{/asyncNative}}{{/returnType}} {{operationId}}(API{{operationId}}Request apiRequest) throws ApiException {
                {{#allParams}}
                    {{{dataType}}} {{paramName}} = apiRequest.{{paramName}}();
                {{/allParams}}
                {{#returnType}}return {{/returnType}}{{^returnType}}{{#asyncNative}}return {{/asyncNative}}{{/returnType}}{{operationId}}({{#allParams}}{{paramName}}{{^-last}}, {{/-last}}{{/allParams}});
                    }

                    /**
                    * {{summary}}
                    * {{notes}}
                    * @param apiRequest {@link API{{operationId}}Request}
                    * @return {{#asyncNative}}CompletableFuture&lt;{{/asyncNative}}ApiResponse&lt;{{returnType}}{{^returnType}}Void{{/returnType}}&gt;{{#asyncNative}}&gt;{{/asyncNative}}
                    * @throws ApiException if fails to make API call
                {{#isDeprecated}}
                        * @deprecated
                {{/isDeprecated}}
                {{#externalDocs}}
                        * {{description}}
                        * @see <a href="{{url}}">{{summary}} Documentation</a>
                {{/externalDocs}}
                    */
                {{#isDeprecated}}
                        @Deprecated
                {{/isDeprecated}}
                    public {{#asyncNative}}CompletableFuture<{{/asyncNative}}ApiResponse<{{{returnType}}}{{^returnType}}Void{{/returnType}}>{{#asyncNative}}>{{/asyncNative}} {{operationId}}WithHttpInfo(API{{operationId}}Request apiRequest) throws ApiException {
                {{#allParams}}
                    {{{dataType}}} {{paramName}} = apiRequest.{{paramName}}();
                {{/allParams}}
                    return {{operationId}}WithHttpInfo({{#allParams}}{{paramName}}{{^-last}}, {{/-last}}{{/allParams}});
                    }

            {{/hasParams}}
        {{/vendorExtensions.x-group-parameters}}
            /**
            * {{summary}}
            * {{notes}}
        {{#allParams}}
                * @param {{paramName}} {{description}}{{#required}} (required){{/required}}{{^required}} (optional{{^isContainer}}{{#defaultValue}}, default to {{.}}{{/defaultValue}}){{/isContainer}}{{/required}}
        {{/allParams}}
        {{#returnType}}
                * @return {{#asyncNative}}CompletableFuture&lt;{{/asyncNative}}{{returnType}}{{#asyncNative}}&gt;{{/asyncNative}}
        {{/returnType}}
            * @throws ApiException if fails to make API call
        {{#isDeprecated}}
                * @deprecated
        {{/isDeprecated}}
        {{#externalDocs}}
                * {{description}}
                * @see <a href="{{url}}">{{summary}} Documentation</a>
        {{/externalDocs}}
            */
        {{#isDeprecated}}
                @Deprecated
        {{/isDeprecated}}
            public {{#returnType}}{{#asyncNative}}CompletableFuture<{{{returnType}}}>{{/asyncNative}}{{^asyncNative}}{{{returnType}}}{{/asyncNative}}{{/returnType}}{{^returnType}}{{#asyncNative}}CompletableFuture<Void>{{/asyncNative}}{{^asyncNative}}void{{/asyncNative}}{{/returnType}} {{operationId}}({{#allParams}}{{{dataType}}} {{paramName}}{{^-last}}, {{/-last}}{{/allParams}}) throws ApiException {
        {{^asyncNative}}
            {{#returnType}}ApiResponse<{{{.}}}> localVarResponse = {{/returnType}}{{operationId}}WithHttpInfo({{#allParams}}{{paramName}}{{^-last}}, {{/-last}}{{/allParams}});
            {{#returnType}}
                    return localVarResponse.getData();
            {{/returnType}}
        {{/asyncNative}}
        {{#asyncNative}}
                try {
                HttpRequest.Builder localVarRequestBuilder = {{operationId}}RequestBuilder({{#allParams}}{{paramName}}{{^-last}}, {{/-last}}{{/allParams}});
                return memberVarHttpClient.sendAsync(
                localVarRequestBuilder.build(),
                HttpResponse.BodyHandlers.ofString()).thenComposeAsync(localVarResponse -> {
                if (localVarResponse.statusCode()/ 100 != 2) {
                return CompletableFuture.failedFuture(getApiException("{{operationId}}", localVarResponse));
                }
            {{#returnType}}
                    try {
                    return CompletableFuture.completedFuture(
                    memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<{{{returnType}}}>() {})
                    );
                    } catch (IOException e) {
                    return CompletableFuture.failedFuture(new ApiException(e));
                    }
            {{/returnType}}
            {{^returnType}}
                    return CompletableFuture.completedFuture(null);
            {{/returnType}}
                });
                }
                catch (ApiException e) {
                return CompletableFuture.failedFuture(e);
                }
        {{/asyncNative}}
            }

            /**
            * {{summary}}
            * {{notes}}
        {{#allParams}}
                * @param {{paramName}} {{description}}{{#required}} (required){{/required}}{{^required}} (optional{{^isContainer}}{{#defaultValue}}, default to {{.}}{{/defaultValue}}){{/isContainer}}{{/required}}
        {{/allParams}}
            * @return {{#asyncNative}}CompletableFuture&lt;{{/asyncNative}}ApiResponse&lt;{{returnType}}{{^returnType}}Void{{/returnType}}&gt;{{#asyncNative}}&gt;{{/asyncNative}}
            * @throws ApiException if fails to make API call
        {{#isDeprecated}}
                * @deprecated
        {{/isDeprecated}}
        {{#externalDocs}}
                * {{description}}
                * @see <a href="{{url}}">{{summary}} Documentation</a>
        {{/externalDocs}}
            */
        {{#isDeprecated}}
                @Deprecated
        {{/isDeprecated}}
            public {{#asyncNative}}CompletableFuture<{{/asyncNative}}ApiResponse<{{{returnType}}}{{^returnType}}Void{{/returnType}}>{{#asyncNative}}>{{/asyncNative}} {{operationId}}WithHttpInfo({{#allParams}}{{{dataType}}} {{paramName}}{{^-last}}, {{/-last}}{{/allParams}}) throws ApiException {
        {{^asyncNative}}
                HttpRequest.Builder localVarRequestBuilder = {{operationId}}RequestBuilder({{#allParams}}{{paramName}}{{^-last}}, {{/-last}}{{/allParams}});
            {{^isArray}}
                    return {{^vendorExtensions.x-dont-retry}}makeRequestWithRetries("{{operationId}}", () ->  {{/vendorExtensions.x-dont-retry}} makeRequest(localVarRequestBuilder, "{{operationId}}", {{returnType}}.class){{^vendorExtensions.x-dont-retry}}){{/vendorExtensions.x-dont-retry}};
            {{/isArray}}
            {{#isArray}}
                    return {{^vendorExtensions.x-dont-retry}}makeRequestWithRetries("{{operationId}}", () -> {{/vendorExtensions.x-dont-retry}} makeRequestForList(localVarRequestBuilder, "{{operationId}}", {{returnBaseType}}.class){{^vendorExtensions.x-dont-retry}}){{/vendorExtensions.x-dont-retry}};
            {{/isArray}}
        {{/asyncNative}}
        {{#asyncNative}}
                try {
                HttpRequest.Builder localVarRequestBuilder = {{operationId}}RequestBuilder({{#allParams}}{{paramName}}{{^-last}}, {{/-last}}{{/allParams}});
                return memberVarHttpClient.sendAsync(
                localVarRequestBuilder.build(),
                HttpResponse.BodyHandlers.ofString()).thenComposeAsync(localVarResponse -> {
                if (memberVarAsyncResponseInterceptor != null) {
                memberVarAsyncResponseInterceptor.accept(localVarResponse);
                }
                if (localVarResponse.statusCode()/ 100 != 2) {
                return CompletableFuture.failedFuture(getApiException("{{operationId}}", localVarResponse));
                }
            {{#returnType}}
                    try {
                    return CompletableFuture.completedFuture(
                    new ApiResponse<{{{returnType}}}>(
                    localVarResponse.statusCode(),
                    localVarResponse.headers().map(),
                    memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<{{{returnType}}}>() {}))
                    );
                    } catch (IOException e) {
                    return CompletableFuture.failedFuture(new ApiException(e));
                    }
            {{/returnType}}
            {{^returnType}}
                    return CompletableFuture.completedFuture(
                    new ApiResponse<Void>(localVarResponse.statusCode(), localVarResponse.headers().map(), null)
                    );
            {{/returnType}}
                }
                );
                }
                catch (ApiException e) {
                return CompletableFuture.failedFuture(e);
                }
        {{/asyncNative}}
            }

            private HttpRequest.Builder {{operationId}}RequestBuilder({{#allParams}}{{{dataType}}} {{paramName}}{{^-last}}, {{/-last}}{{/allParams}}) throws ApiException {
        {{#allParams}}
            {{#required}}
                    // verify the required parameter '{{paramName}}' is set
                    if ({{paramName}} == null) {
                    throw new ApiException(400, "Missing the required parameter '{{paramName}}' when calling {{operationId}}");
                    }
            {{/required}}
        {{/allParams}}

            HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

        {{! Switch delimiters for baseName so we can write constants like "{query}" }}
            String localVarPath = "{{{path}}}"{{#pathParams}}
                .replace({{=<% %>=}}"{<%baseName%>}"<%={{ }}=%>, ApiClient.urlEncode({{{paramName}}}.toString())){{/pathParams}};

        {{#hasQueryParams}}
            {{javaUtilPrefix}}List<Pair> localVarQueryParams = new {{javaUtilPrefix}}ArrayList<>();
            {{#queryParams}}
                {{#collectionFormat}}
                        localVarQueryParams.addAll(ApiClient.parameterToPairs("{{{collectionFormat}}}", "{{baseName}}", {{paramName}}));
                {{/collectionFormat}}
                {{^collectionFormat}}
                    {{#isDeepObject}}
                            if ({{paramName}} != null) {
                        {{#items.vars}}
                                localVarQueryParams.addAll(ApiClient.parameterToPairs("{{baseName}}", {{paramName}}.{{getter}}()));
                        {{/items.vars}}
                            }
                    {{/isDeepObject}}
                    {{^isDeepObject}}
                            localVarQueryParams.addAll(ApiClient.parameterToPairs("{{baseName}}", {{paramName}}));
                    {{/isDeepObject}}
                {{/collectionFormat}}
            {{/queryParams}}

                if (!localVarQueryParams.isEmpty()) {
            {{javaUtilPrefix}}StringJoiner queryJoiner = new StringJoiner("&");
                localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
                localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
                } else {
                localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
                }
        {{/hasQueryParams}}
        {{^hasQueryParams}}
                localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
        {{/hasQueryParams}}

        {{#headerParams}}
                if ({{paramName}} != null) {
                localVarRequestBuilder.header("{{baseName}}", {{paramName}}.toString());
                }
        {{/headerParams}}
        {{#bodyParam}}
                localVarRequestBuilder.header("Content-Type", "application/json");
        {{/bodyParam}}
            localVarRequestBuilder.header("Accept", "application/json");

        {{#bodyParam}}
                try {
                byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes({{paramName}});
                localVarRequestBuilder.method("{{httpMethod}}", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
                } catch (IOException e) {
                throw new ApiException(e);
                }
        {{/bodyParam}}
        {{^bodyParam}}
                localVarRequestBuilder.method("{{httpMethod}}", HttpRequest.BodyPublishers.noBody());
        {{/bodyParam}}
            if (memberVarReadTimeout != null) {
            localVarRequestBuilder.timeout(memberVarReadTimeout);
            }
            if (memberVarInterceptor != null) {
            memberVarInterceptor.accept(localVarRequestBuilder);
            }
            return localVarRequestBuilder;
            }
        {{#vendorExtensions.x-group-parameters}}
            {{#hasParams}}

                    public static final class API{{operationId}}Request {
                {{#requiredParams}}
                        private {{{dataType}}} {{paramName}}; // {{description}} (required)
                {{/requiredParams}}
                {{#optionalParams}}
                        private {{{dataType}}} {{paramName}}; // {{description}} (optional{{^isContainer}}{{#defaultValue}}, default to {{.}}{{/defaultValue}}){{/isContainer}}
                {{/optionalParams}}

                    private API{{operationId}}Request(Builder builder) {
                {{#requiredParams}}
                        this.{{paramName}} = builder.{{paramName}};
                {{/requiredParams}}
                {{#optionalParams}}
                        this.{{paramName}} = builder.{{paramName}};
                {{/optionalParams}}
                    }
                {{#allParams}}
                        public {{{dataType}}} {{paramName}}() {
                        return {{paramName}};
                        }
                {{/allParams}}
                    public static Builder newBuilder() {
                    return new Builder();
                    }

                    public static class Builder {
                {{#requiredParams}}
                        private {{{dataType}}} {{paramName}};
                {{/requiredParams}}
                {{#optionalParams}}
                        private {{{dataType}}} {{paramName}};
                {{/optionalParams}}

                {{#allParams}}
                        public Builder {{paramName}}({{{dataType}}} {{paramName}}) {
                        this.{{paramName}} = {{paramName}};
                        return this;
                        }
                {{/allParams}}
                    public API{{operationId}}Request build() {
                    return new API{{operationId}}Request(this);
                    }
                    }
                    }

            {{/hasParams}}
        {{/vendorExtensions.x-group-parameters}}
    {{/operation}}

        protected <T> ApiResponse<T> makeRequest(HttpRequest.Builder localVarRequestBuilder, String operationName, Class<T> responseBodyClass) {
        try {
        HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
        localVarRequestBuilder.build(),
        HttpResponse.BodyHandlers.ofInputStream());
        if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
        }
        try {
        if (localVarResponse.statusCode()/ 100 != 2) {
        throw getApiException(operationName, localVarResponse);
        }
        return new ApiResponse<T>(
        localVarResponse.statusCode(),
        localVarResponse.headers().map(),
        memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<T>() {
        }) // closes the InputStream

        );
        } finally {
        }
        } catch (IOException e) {
        throw new ApiException(e);
        }
        catch (InterruptedException e) {
        Thread.currentThread().interrupt();
        throw new ApiException(e);
        }
        }

        protected <T> ApiResponse<List<T>> makeRequestForList(HttpRequest.Builder localVarRequestBuilder, String operationName, Class<T> listElementClass) {
        try {
        HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
        localVarRequestBuilder.build(),
        HttpResponse.BodyHandlers.ofInputStream());
        if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
        }
        try {
        if (localVarResponse.statusCode()/ 100 != 2) {
        throw getApiException(operationName, localVarResponse);
        }
        return new ApiResponse<List<T>>(
        localVarResponse.statusCode(),
        localVarResponse.headers().map(),
        memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<List<T>>() {
        }) // closes the InputStream

        );
        } finally {
        }
        } catch (IOException e) {
        throw new ApiException(e);
        }
        catch (InterruptedException e) {
        Thread.currentThread().interrupt();
        throw new ApiException(e);
        }
        }

        protected <T> T makeRequestWithRetries(String operationName, Supplier<T> functionToExecuteWithRetries){
        final RetryConfig retryConfig = RetryConfig.custom()
        .retryOnException(thrown -> !(thrown instanceof ApiException) || ((ApiException)thrown).getCode()>499 || ((ApiException)thrown).getCode()<200)
        .intervalFunction(IntervalFunction.ofExponentialBackoff()) //might need to play with this
        .build();
        final Retry retry = Retry.of(operationName, retryConfig);
        return retry.executeSupplier(functionToExecuteWithRetries);
        }
        }
{{/operations}}
